<section>
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                <div class="card bg-dark text-white" style="border-radius: 1rem;">
                    <div class="card-body p-5 text-center">

                        <div class="mb-md-2 mt-md-2 pb-2">

                            <h2 class="fw-bold text-white-50 mb-2 text-uppercase">Create product category</h2>

                            <form (ngSubmit)="onSubmit()" class="mt-5">
                                <div class="form-outline form-white mb-2">
                                    <label class="form-label">Product category name</label>
                                    <input type="text" class="form-control form-control-lg mt-2" [(ngModel)]="productCategory.categoryName" name="categoryName">
                                </div>
                            
                                <button class="btn btn-outline-light btn-lg px-5 mt-4" type="submit">Create product category</button>
                            
                            </form>

                            <div class="mt-3">
                                <p class="mb-0"><a routerLink="/admin/products" class="text-white-50 fw-bold">Back to homepage</a></p>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
